*.swp
*~
.DS_Store
Thumbs.db
.project
.svn
.nvm-version
.npmrc
node_modules
npm-debug.log
debug.log
/tags
/atom-shell/
/electron/
docs/output
docs/includes
spec/fixtures/evil-files/
/toold/react-devtools
bower_components

realm-object-server/io.realm.object-server-utility/metadata/sync_metadata.realm.management/access_control.write.mx

realm-object-server/io.realm.object-server-utility/metadata/sync_metadata.realm

realm-object-server/io.realm.object-server-utility/metadata/sync_metadata.realm.lock

realm-object-server/io.realm.object-server-utility/metadata/sync_metadata.realm.management/access_control.balance.mx

realm-object-server/io.realm.object-server-utility/metadata/sync_metadata.realm.management/access_control.control.mx
